<h1>Add Story</h1>
<div class="row">
    <form action="/blogs" method="POST" enctype="multipart/form-data" class="col s12">
        <div class="row">
            <div class="input-field">
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Please enter the journey's title" required>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <p>
                <label for="filled-in-box">
                    <input type="checkbox" name="allowComments" id="filled-in-box" class="filled-in" checked="checked">
                    <span>Allow Comments</span>
                </label>
            </p>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Please Select A Cover Image For Your Story (optional)</span>
                    <input type="file" name="coverImage" accept="image/x-png">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <h5>Share your journey below</h5>
            <div class="input-field">
                <textarea name="body" id="body" rows="10" class="materialize-textarea journey" maxlength="1500"
                    data-length="1500" required></textarea>
                <label for="body">Please enter your journey here... (Max Number Of Characters: 1500)</label>
            </div>

        </div>

        <input type="submit" value="Save" class="btn">
    </form>
</div>