body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

textarea {
  height: auto;
}

.blog-text {
  height: 120px;
  word-wrap: break-word;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

.word-wrapping {
  word-wrap: break-word;
}

.goback-btn {
  margin-top: 20px;
}

.fixed-action-btn {
  right: 150px;
  top: 90px;
}

.unstyled_button {
  border: none;
  padding: 0;
  background: none;
}

.unstyled_button:hover {
  cursor: pointer;
}

.karmaForm {
  display: inline;
}

.story_score {
  display: inline;
  font-size: 1.5rem;
  font-weight: 500;
}

.coverImage {
  border: 4px solid grey;
}
