<h1>Welcome Niggers</h1>
<p>Welcome to Travel Blogs 1.0.0</p>
<p>Post travel memories from the beginning to the end of the journey and choose for them to be read by the viewers
    around the world or completely private as your own personal story</p>
<a href="/auth/google" class="btn red darken-1"><i class="fa ga-google left"></i> Login With Google</a>